html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

/*.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}*/

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: #080808;
  color: #fff;
}

.main-content {
    margin-left: 290px;
}

/*BreadCrumb*/
.e-breadcrumb a, .e-breadcrumb a:hover {
    text-decoration: none !important;
    color: inherit !important;
}

/*button*/
.btn:focus, .btn:active{
    outline: none !important;
    box-shadow: none;
}

.no-a-decoration, .no-a-decoration:hover{
    text-decoration: none;
    color: inherit;
}
.b-here{
    width:100%;
}
.c-button {
    display: inline-block;
    padding: 10px 15px;
    background-color: #007bff;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}
/*form*/
.form-control {
    background-color: #212529;
    color: #fff;
    border-color: #6c757d;
}
    .form-control:focus {
        background-color: #212529;
        color: #fff;
        /*box-shadow: none;*/
    }



.widget {
    border-radius: 5px;
    background-color: #1a222b;
    box-shadow: 0 0 10px #87ceeb;
    color: #fff;
}

.indexhere {
    background-color: #1a222b;
    color: #fff;
}

/*grid*/
.e-grid{
    border-color:transparent;
}

.e-grid .e-gridcontent, .e-grid .e-table {
    background-color: #1a222b;
}

.e-grid .e-pager {
    background-color: #1a222b;
}


/*navbar*/
nav.navbar {
    background-color: #00021E80;
    color: #fff;
}
nav.navbar i {
    padding: 10px;
    border-radius: 50%;
    font-size: 1.2rem;
    cursor: pointer;
}
nav.navbar i:hover, nav.navbar profile-pic:hover{
    cursor:pointer;
    background-color: #48545f14;
    transform: scale(1.05) translate(0px);
}

/*Profile-Pic*/
.profile-pic{
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.profile-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #00021E;
    padding: 16px 20px;
    border-radius: 12px;
    cursor: pointer;
    margin-bottom: 30px;
}

.profile-wrapper .titles {
    line-height: 1;
}

.text-muted {
    font-size: 12px !important;
    font-weight: 400;
    line-height: 2;
    color: #fff !important;
}
/* logo*/
.logo-wrapper {
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.app-logo {
    padding: 10px 10px;
}


/*SideBar*/
#sidebar {
    background-color: #12161d;
    border-right: 1px dashed rgba(75,82,85,0.24);
    padding: 10px 20px 10px 20px;
}

  #sidebar .e-menu-wrapper{
      width:100%;
      background-color: inherit;
  }

/*menu*/
#menu {
    width: 100% !important;
    background-color: inherit;
    overflow: hidden;
}

#menu .e-menu-item:not(.e-separator) {
    height:50px;
    border-radius: 4px;
}

#menu .e-menu-item {
    box-sizing: border-box;
}

#menu .e-menu-item a{
    width: 100%;
    font-weight: 300;
    padding: 7px 5px;
    box-sizing: border-box;
}

/*#menu .e-anchor-wrap {
    display: inline-block;
}

#menu .e-menu-item .e-anchor-wrap span.e-menu-icon {
    color: grey;
}*/

 #menu .e-menu-item.e-separator {
     border: none;
     margin: 5px 5px;
     text-transform: uppercase;
     font-weight: bold;
     font-size: 12px;
 }   

 #menu .e-menu-item.e-separator:not(:first-child){
     margin-top: 30px;
 }

